.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

}


// Media query for small devices (mobile)
@media only screen and (max-width: 414px) {
  .App {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
  }
}