.About {

  // border: 1px dashed white;
  border-radius: 20px;
  width: 90%;
  // height: 75%;
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;

  .About-container {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .About-Logo {
      width: 230px;
      height: 230px;
      border-radius: 50%;
      padding: 1rem;
      border: 5px solid black;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }

    .About-Text {
      padding: 1rem;

      h1 {
        background: rgb(255 255 255 / 49%);
        border-radius: 25px;
        padding: 0rem 0.5rem;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        text-align: center;
      }

      p {
        text-indent: 10%;
      }
    }

  }
}


// Media query for small devices (mobile)
@media only screen and (max-width: 430px) {
  .About {

    width: 80%;
    height: 70%;

    .About-container {
      display: flex;
      flex-direction: column;

      .About-Logo {
        width: 150px;
        height: 150px;
        border-radius: 50%;

      }

      .About-Text {
        padding: 0.5rem;

        h1 {
          font-size: 1.5rem;
        }
      }

    }
  }
}