.Contact {
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px dashed white;
  border-radius: 20px;
  border-radius: 20px;
  width: 90%;
  height: 75%;
  padding: 1rem;

  .Contact-Logo {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    padding: 1rem;
    border: 5px solid black;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  .Contact-Text {
    width: calc(100% - 550px);
    padding: 1rem;
    text-align: center;
    width: 100%;

    h1 {
      margin-bottom: 2rem;
      background: rgb(255 255 255 / 49%);
      border-radius: 25px;
      padding: 0rem 0.5rem;
      box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

    }

    hr {
      margin: 2rem 0;
    }

    .Contact-Description {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .Social-Icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      div {
        width: 33.3%;
        padding: 0.5rem 0;
        transition: 0.6s ease-in-out;

        &:hover {
          background-color: #ffffff51;
          color: #A6CAEA;
          border-radius: 20px;
        }

        i {
          font-size: xxx-large;
        }

        h4 {
          margin: 0.5rem 0.9rem;
        }

        &:hover {
          box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        }
      }
    }
  }
}


// Media query for small devices (mobile)
@media only screen and (max-width: 430px) {
  .Contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    height: 70%;

    .Contact-Logo {
      width: 150px;
      height: 150px;
      padding: 1rem;
      border-radius: 50%;
    }

    .Contact-Text {
      padding: 1rem;

      h1 {
        font-size: 1.5rem;
      }
    }
  }
}